// Define variables for your color scheme

// For example:
$blue: #3A86FF;
$orange: #FB5607;
$cyan: #2EC4B6;
$violet: #8338EC;
$gris-card: #F0F0F0;
$gris-ecriture: #727584;
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
