.wrapper-account{
  max-width: 1240px;
  margin: 0 auto;
  min-height: 100vh;
}

.container-user-account{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  color: #727584;
}

#titre i{
  margin-right: 16px;
}

.account-card {
  min-width: 400px;
  min-height: 500px;
  background-color: #ffffff;
  color: #727584;
  margin-right: 16px;
  padding: 16px;
  margin-bottom: 0;
  border-radius: 16px;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2),
  -2px -2px 5px rgba($color: #afa8a8, $alpha: 0.2);
}

.account-card:nth-child(2){
  flex-grow: 1;
}

.account-card{
  & .details{
    margin: 16px 0 32px 0;
   text-align: left;
  }
  & .button-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  & i{
    margin-right: 8px;
   }
}

.button-section button:nth-child(1){
  margin-right: 8px;
}

.account-list{
  width: 100%;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-around;
  background-color: #F4F4F4;
  margin-bottom: 8px;
  border-radius: 8px;

  & p{
    margin: 0;
  }
}

.account-list:hover{
  background-color: #727584;
  color: #fff;
  transition: ease 0.4s;
}


.account-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.card-user-account{
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: #F4F4F4;
  transform: ease 0.4s;
}

.card-user-account:hover{
  background-color: #727584;
  color: #fff;
  transition: ease 0.4s;
}

.card-user-account img,
.account-list img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
