// Import page-specific CSS files here.
@import "home";

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
}

.home-avatar {
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin-right: 8px;
}

.grid-friends{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  font-weight: 100;
}

.card-home {
  background-color: red;
}

.friend {
  background-color: green;
  padding: 8px;
  flex-grow: 1;
  height: 40%;
}

.name-qualities {
  width: 100%;
  text-align: center;
}

.friend-qualities-card {
  background-color: blue;
  font-size: 18px;
  padding: 6px;
}

.friend-qualities-card p {
  display: inline-block;
}

.friend-bottom {
  height: 60%;
}

.friend-price {
  background-color: grey;
  width: 130px;
  padding: 6px;
}

.friend-activities {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: beige;
  padding: 16px;
  grid-template-columns: repeat(5, 1fr);
}
