
.new-friend-container {
  background-color: white;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2),
  -2px -2px 5px rgba($color: #afa8a8, $alpha: 0.2);
  border-radius: 8px;
  width: 1240px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.en-tete-new {
  text-align: center;
  padding : 20px;

}

.titre-p-newfriend {
  padding: 20px;
}
