<div class="card-category mb-4" id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/photos-gratuite/jeunes-amis-au-sommet-montagne-profitant-vue-fascinante_181624-30260.jpg?w=2000&t=st=1679419524~exp=1679420124~hmac=ea194c3304a747df6b352ae4d1c34fa4f526ee459cf3331321a29009231a38fb)">
  <div class="wrapper-banner">
    <div class="title">
      <h1>Un nouvel ami t'attend</h1>
      <p><em>“Qui trouve un ami, trouve un trésor”</em></p>
    </div>
  </div>
</div>
<div id="wrapper-friends">
  <div class="grid-friends">
      <% colors = ['#3A86FF', '#FB5607', '#2EC4B6', '#8338EC', '#FD1015', '#FFC65A', '#E67E22', '#1EDD88'] %>
    <% @friends.each do |friend| %>
      <% friend_color = colors.sample %>
      <% if colors.any? %>
        <% colors.delete(friend_color) %>
      <% else %>
        <% colors = ['#3A86FF', '#FB5607', '#2EC4B6', '#8338EC', '#FD1015', '#FFC65A', '#E67E22', '#1EDD88'] %>
        <% friend_color = colors.sample %>
      <% end %>
      <%= render "shared/friend_card", friend: friend, friend_color: friend_color %>
    <% end %>
  </div>
</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    // const exampleEl = document.getElementById('example');
    // const tooltip = new bootstrap.Tooltip(exampleEl, options);

    //Tried this; didn't work:
    // $(function () {
    //     $('[data-toggle="tooltip"]').tooltip()
    // })

</script>
