<div class="card-category mb-4" id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/photos-gratuite/jeunes-amis-au-sommet-montagne-profitant-vue-fascinante_181624-30260.jpg?w=2000&t=st=1679419524~exp=1679420124~hmac=ea194c3304a747df6b352ae4d1c34fa4f526ee459cf3331321a29009231a38fb)">
  <div class="wrapper-banner">
    <div class="title">
      <h1>Un nouvel ami t'attend</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum rem et aspernatur labore numquam incidunt maxime minima..</p>
      <button class="button-secondary">Call To Action</button>
    </div>
  </div>
</div>
<div id="wrapper-friends">
  <div class="grid-friends">
    <% @friends.each do |friend| %>
      <%= render "shared/friend_card", friend: friend %>
    <% end %>
  </div>
</div>
