<%= render "shared/navbar" %>
<h1>Un nouvel ami t'attend !</h1>
<div class="container">
  <div class="row">
    <% @friends.each do |friend| %>
      <%= render "shared/friend_card", friend: friend %>
    <% end %>
  </div>
</div>
