<div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.unco.edu/college-bound-colorado/images/group-friends-jumping.jpg)">
<h1>Un nouvel ami t'attend !</h1>
</div>
<div class="container">
  <div class="row">
    <% @friends.each do |friend| %>
      <%= render "shared/friend_card", friend: friend %>
    <% end %>
  </div>
</div>
