<h1 class="m-4">Vos réservations </h1>
<% if @bookings == [] %>
  <p>Vous n'avez pas encore fait de réservation !
  <%= link_to "Trouvez maintenant des amis parfaits pour vous", friends_path %></p>
<% end %>
<div class="container">
  <% @bookings.each do |booking|%>
  <%= render "shared/booking_card", booking: booking %>
  <%end%>
</div>
<% if @requests != [] %>
  <h2 class="m-4">Vos demandes de réservation</h2>
  <% @requests.each do |request|%>
    <%= render "shared/request_card", request: request %>
  <%end%>
<% end %>
