.button-refus{
  padding: 12px 8px;
  color: #FD1015;
  border: 3px solid #FD1015;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-refus:hover{
  color: white;
  background-color: #FD1015;
}
