.button-done{
  padding: 12px 8px;
  color: #FB5607;
  border: 3px solid #FB5607;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-done:hover{
  color: white;
  background-color: #FB5607;
}
