.button-accept{
  padding: 12px 8px;
  color: #1EDD88;
  border: 3px solid #1EDD88;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-accept:hover{
  color: white;
  background-color: #1EDD88;
}
